ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 1128px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: all 250ms linear;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}
